
body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: "Rubik",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    text-transform: none;
}

.forgot{
	background-color: rgba(0, 0, 0, 0.5) !important;
    padding: 12px;
    border: 1px solid #dfdfdf;
}

.padding-bottom-3x {
    padding-bottom: 72px !important;
}

.card-footer{
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.btn{ 

	font-size: 13px;
}

.form-control:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-color: #76b7e9;
    outline: 0;
    box-shadow: 0 0 0 0px #28a745;
}
.card-body{
    width: 100%;
}      
form{
    background-color: rgba(0, 0, 0, 0.5) !important;
}
small{
    color: white;
}
.input-group-prepend span {
    width: 40px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}